# Macros for specific scenarios



# This macro will spawn a couple saurians out of each village
# once per time_of_day until the player takes control of the village
#define SAURIAN_VILLAGE_SPAWNER X Y TIME TYPE
	[event]
		name=moveto
		[filter]
			side=1,2
			x,y={X},{Y}
		[/filter]
		[unit]
			side=4
			type=Saurian Skirmisher
			x,y={X},{Y}
		[/unit]
		[unit]
			side=4
			type=Saurian Augur
			x,y={X},{Y}
		[/unit]
		[set_variable]
			name=saurian_village_{X}{Y}
			value=yes
		[/set_variable]
	[/event]
	[event]
		name=new turn
		first_time_only=no
		[store_time_of_day]
		[/store_time_of_day]
		[if]
			[variable]
				name=saurian_village_{X}{Y}
				boolean_not_equals=yes
			[/variable]
			[and]
				[variable]
					name=time_of_day.id
					equals={TIME}
				[/variable]
			[/and]
			[then]
				[unit]
					side=4
					type={TYPE}
					x,y={X},{Y}
				[/unit]
			[/then]
		[/if]
		[clear_variable]
			name=time_of_day
		[/clear_variable]
	[/event]
#enddef